<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1085831998335-343a9urjrjbq7bb306grsr1ctlgpestb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1085831998335-343a9urjrjbq7bb306grsr1ctlgpestb</string>
	<key>API_KEY</key>
	<string>AIzaSyCUMYXJqRhkiuHdaKkSJ9HVbZMCKPCZls8</string>
	<key>GCM_SENDER_ID</key>
	<string>1085831998335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Pilsulator.no</string>
	<key>PROJECT_ID</key>
	<string>pilsulator</string>
	<key>STORAGE_BUCKET</key>
	<string>pilsulator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085831998335:ios:00f8fc47d7881a14ed884a</string>
</dict>
</plist>